.card.card-sp.pb-0
  .card-block.pb-0
    .row
      .col.text-center
        .card-title= 'Clubs'
        .card-subtitle= "#{@clubs.count} clubs."
    .row
      = link_to 'New Club', new_club_path, class: 'btn btn-primary'

.card
  .card-block
    .row

      %table.w-100
        %tbody
          - @clubs.each do |club|
            %tr
              %td= club.name
              
              %td= link_to fa_icon('eye' ), club
              %td= link_to fa_icon('edit'), edit_club_path(club)
              %td= link_to fa_icon('ban' ), club, method: :delete, data: { confirm: 'Are you sure?' }
