.card.card-sp.pb-0
	.card-block.pb-0
		.row
			.col
				.card-title= @club.name
				.card-subtitle= @club.adress
				.card-text= @club.fields

		.row.mb-0
			.col
				%ul.nav
					%li.nav-item
						= link_to 'Equipes', '', class: 'nav-link active'

.card
	.card-block
		.row 
			.col
				- @club.teams.each do |team|
					= link_to team do
						.panel-gray
							%div= "#{team.name}"
							%small= "#{team.league.name} - #{team.level.name} - #{team.group.name} - #{team.category.name} ".upcase
