.card.text-center
	%h6.jumbotron= "Mon Club"
	.card-block
		%h1.card-title= @club.name

	- if @players.any?
		.card-block
			%h4.card-title= "Joueurs (#{@players.count})"
			- @players.each do |player|
				%p
					= link_to player.full_name, player
					= link_to "(#{player.team.name})", player.team