.card.card-sp.pb-0
  .card-block.pb-0
    .row
      .col.text-center
        .card-title= 'Teams'
        .card-subtitle= "#{@teams.count} teams."
    .row
      = link_to 'New Team', new_team_path, class: 'btn btn-primary'

.card
  .card-block
    .row

      %table.w-100
        %thead
          %tr
            %th= "#"
            %th= "Team"
            %th= "Club"
            %th= "Division"
            %th
            %th
        %tbody
          - @teams.each do |team|
            %tr
              %td= team.id
              %td= team.name
              %td= team.club.name
              %td= team.division.name
              %td= link_to fa_icon('eye' ), team
              %td= link_to fa_icon('edit'), edit_team_path(team)
              %td= link_to fa_icon('ban' ), team, method: :delete, data: { confirm: 'Are you sure?' }
