.card
	.card-block
		
		%h1.card-title= @team.name
		%h6.card-subtitle.text-muted.mb-4= @team.club.name

		%p
			%strong= 'Category:'
			= @team.category.name

		%p
			%strong= 'Level:'
			= @team.level.name

		%p
			%strong= 'Division:'
			= @team.division.name

		%p
			%strong= 'Group:'
			= @team.group.name

%br/
= link_to 'Edit', edit_team_path(@team), class: 'btn btn-primary'
= link_to 'Back', teams_path, class: 'btn btn-secondary'