.card
	.card-block
		
		%h1.card-title= @team.name
		%h6.card-subtitle.text-muted.mb-4= link_to @team.club.name, @team.club

		%p
			%strong= 'Category:'
			= @team.category.name

		%p
			%strong= 'Level:'
			= @team.level.name

		%p
			%strong= 'Division:'
			= @team.division.name

		%p
			%strong= 'Group:'
			= @team.group.name

		= link_to 'Edit', edit_team_path(@team), class: 'btn btn-primary'
		= link_to 'Back', teams_path, class: 'btn btn-secondary'

.card
	.card-block
		%h4.card-title= 'Players'

		- @players.each do |player|
			%p
				= link_to player.full_name, player