.card
	.card-block.text-center
		
		%h4.card-title= link_to @team.club.name, @team.club
		%h6.card-subtitle.mb-4= @team.name

		%p
			%strong= 'Category'
			= @team.category.name

		%p
			%strong= 'Level'
			= @team.level.name

		%p
			%strong= 'Division'
			= @team.division.name

		%p
			%strong= 'Group'
			= @team.group.name

.card
	.card-block.text-center
		%h4.card-title= 'Players'

		- @players.each do |player|
			%p
				= link_to player.full_name, player