.card.card-sp.pb-0
	.card-block.pb-0
		.row
			.col
				.card-title= @team.name
				.card-subtitle= link_to @team.club.name, @team.club
				.card-text= "#{@team.league.name} - #{@team.level.name} - #{@team.group.name} - #{@team.category.name} ".upcase

		.row.mb-0
			.col
				%ul.nav
					%li.nav-item
						= link_to 'Effectif', '?n=effectif', class: "nav-link #{'active' if params[:n] == 'effectif' || params[:n].nil?}"

					%li.nav-item
						= link_to 'Calendrier', '?n=calendar', class: "nav-link #{'active' if params[:n] == 'calendar'}"

.card
	.card-block
		- if params[:n] == 'calendar'
			- if @team.games.count.zero?
				.card-text= "Pas de matches à venir pour #{@team.name}"
			-else
				- @team.games.each do |game|
					= render 'games/game', game: game
		
		- else
			.col-12.col-md-6
				- if @team.players.count.zero?
					.card-text= "Pas de joueurs inscrit pour #{@team.name}"
				
				- else
					- @team.players.each do |player|
						= link_to player do
							.panel-white
								%div= player.full_name
								%small= player.position.name
