.card.card-sp
  .card-block
    
    .card-title= "S'inscrire"
    .card-subtitle= "C'est ici que ta carriere commence"

= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = devise_error_messages!

  .card.card-sp
    .card-block

      .row.mb-0
        .col-12
          .form-group
            = f.label :email 
            = f.email_field :email, autofocus: true, placeholder: "Enter email", class: 'form-control'
            %small.form-text.text-muted= "We'll never share your email with anyone else."

        .col-12
          .form-group
            = f.label 'Mot de passe'
            = f.password_field :password, autocomplete: "off", placeholder: "Mot de passe", class: 'form-control'
            %small.form-text.text-muted= "6 caractères minimum"

        .col-12
          .form-group
            = f.label 'Mdp confirmation'
            = f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirmez mot de passe", class: 'form-control'

  .card.card-sp
    .card-block
      
      .row.mb-0
        .col-12
          .form-group
            = f.label 'Nom de Famille'
            = f.text_field :first_name, class: 'form-control'
          
        .col-12
          .form-group
            = f.label 'Prénom'
            = f.text_field :last_name, class: 'form-control'

        .col-12
          .form-group
            = f.label :age
            = f.text_field :age, class: 'form-control'
        
        .col-12
          .form-group
            = f.label 'Taille'
            = f.text_field :height, class: 'form-control'
            %small.form-text.text-muted= "(en cm)"
      
  .card.card-sp
    .card-block

      .row.mb-0
        .col-12
          .form-group
            = f.label :club
            = f.collection_select(:club_id, Club.where(id: [18..49]), :id, :name, {}, { class: 'form-control' })

        .col-12
          .form-group
            = f.label :position
            = f.collection_select(:position_id, Position.all, :id, :name, {}, { class: 'form-control' })

  .card.card-sp
    .card-block
      
      .row.mb-0
        
        .col-12
          .form-group
            = f.label :best_foot, label: "Meilleur pied"
            = f.text_field :best_foot, class: 'form-control'
        
        .col-12
          .form-group
            = f.label :best_side
            = f.text_field :best_side, class: 'form-control'

        .col-12
          .form-group
            = f.label :right_foot_juggles
            = f.text_field :right_foot_juggles, class: 'form-control'

        .col-12
          .form-group
            = f.label :left_foot_juggles
            = f.text_field :left_foot_juggles, class: 'form-control'

        .col-12
          .form-group
            = f.label :head_juggles
            = f.text_field :head_juggles, class: 'form-control'
          
        .col-12
          .form-group
            = f.label :stamina
            = f.text_field :stamina, class: 'form-control'

        .col-12
          .form-group
            = f.label :speed
            = f.text_field :speed, class: 'form-control'

        .col-12
          .form-group
            = f.label :jump
            = f.text_field :jump, class: 'form-control'

  .actions
    = f.submit "Sign up", class: "btn btn-primary btn-block mb-4"

  = render "devise/shared/links"
