.card.card-sp.pb-0
  .card-block.pb-0
    .row
      .col.text-center
        .card-title= 'Divisions'
        .card-subtitle= "#{@divisions.count} divisions."
    .row
      = link_to 'New Division', new_division_path, class: 'btn btn-primary'

.card
  .card-block
    .row

      %table.w-100
        %tbody
          - @divisions.each do |division|
            %tr
              %td= division.name
              
              %td= link_to fa_icon('edit'), edit_division_path(division)
              %td= link_to fa_icon('ban' ), division, method: :delete, data: { confirm: 'Are you sure?' }
