.card.card-sp
    .card-block
        .card-title= "Game"

.card.card-sp
    .card-block
        = form_for(@game) do |f|
            .form-group
                = f.label "Label"
                = f.text_field :name, autofocus: true, class: 'form-control'

            .form-group
                = f.label :datetime
                = f.datetime_field(:datetime, { class: 'form-control' })

            .form-group
                = f.label "Equipes"
                = f.select(:teams, Team.all.collect {|t| ["#{t.club.name} #{t.name}", t.id]}, {}, { class: 'form-control', multiple: true, style: 'height: 400px;' })

            .actions
                = f.submit class: 'btn btn-primary'
