.card.card-sp.pb-0
  .card-block.pb-0
    .row.mb-0
      .col.text-center
        .card-title= 'Game'
        .card-subtitle= "#{@games.count} games."
    .row
      = link_to 'New Game', new_game_path, class: 'btn btn-primary'

.card
  .card-block
    .row

      %table.w-100
        %tbody
          - @games.each do |game|
            %tr
              %td= "#{game.name}"
              
              %td= link_to fa_icon('eye'), game
              %td= link_to fa_icon('edit'), edit_game_path(game)
              %td= link_to fa_icon('ban' ), game, method: :delete, data: { confirm: 'Are you sure?' }