%p#notice= notice

.card
  .card-block
    %h4.card-title= 'Days'
    
    %table.w-100
      %thead
        %tr
          %th= 'Name'
          %th{ colspan: '2' }

      %tbody
        - @days.each do |day|
          %tr
            %td= link_to day.name, day
            %td= link_to 'Edit', edit_day_path(day)
            %td= link_to 'Destroy', day, method: :delete, data: { confirm: 'Are you sure?' }

    = link_to 'New day', new_day_path, class: 'btn btn-primary btn-block mt-5'
