.card.card-sp.pb-0
	.card-block
		.row
			.col
				.card-title= 'Matchs à venir'
				.card-subtitle= player.team.club.name
				.card-text= player.team.name

.card.card-content
	.card-block
		- player.team.games.order(datetime: :desc).each do |game|
			= render 'games/game', game: game, cplayer: player

		- if player.team.games.empty?
			.card-text= "Pas de matches à venir pour #{player.team.club.name}"