%p#notice= notice

.card
  .card-block
    %h4.card-title= 'Calendars'
    
    %table.w-100
      %thead
        %tr
          %th= 'Saison'
          %th{ colspan: '2' }

      %tbody
        - @calendars.each do |calendar|
          %tr
            %td= link_to calendar.saison, calendar
            %td= link_to 'Edit', edit_calendar_path(calendar)
            %td= link_to 'Destroy', calendar, method: :delete, data: { confirm: 'Are you sure?' }

    = link_to 'New Calendar', new_calendar_path, class: 'btn btn-primary btn-block mt-5'
