.card
    %h6.jumbotron= "Log in"
    .card-block
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          
            .field.mt-4
                = f.label :email
                %br/
                = f.email_field :email, autofocus: true

            .field.mt-4
                = f.label :password
                %br/
                = f.password_field :password, autocomplete: "off"

            - if devise_mapping.rememberable?
                .field
                    = f.check_box :remember_me
                    = f.label :remember_me

            .actions.mt-4
                = f.submit "Log in", class: 'btn btn-primary'

        .mt-4
            = render "devise/shared/links"
