.card.card-sp.pb-0
  .card-block.pb-0
    .row.mb-0
      .col.text-center
        .card-title= 'Players'
        .card-subtitle= "#{@players.count} players."
    .row
      = link_to 'New Player', new_level_path, class: 'btn btn-primary'

.card
  .card-block
    .row

      %table.w-100
        %tbody
          - @players.each do |player|
            %tr
              %td= player.email
              %td= player.first_name
              %td= player.last_name
              
              %td= link_to fa_icon('ban' ), player, method: :delete, data: { confirm: 'Are you sure?' }
