.card.text-center
	.card-block
		%h1.card-title= @player.full_name
		%h6.card-subtitle= @player.user_name

		.card-text
			%p= @player.email
			%p
				= link_to @player.club.name, @player.club
				= '-'
				= link_to @player.team.name, @player.team