.card.text-center
	%h6.jumbotron= 'Votre Profil'
	.card-block
		%span.player-position= @player.position.name
		%br/
		%h1.card-title.mt-4= @player.full_name
		%h6.card-subtitle= @player.user_name
		.card-text= "#{@player.age} ans. #{@player.height} cm."
		.card-text.mt-3
			= link_to @player.club.name, @player.club
			%br/
			= link_to @player.team.name, @player.team
			