.card
	.card-block
		%h1.card-title= @player.user_name || @player.first_name
		%h6.card-subtitle= "#{@player.first_name} #{@player.last_name}"

		.card-text
			%p= @player.email
			%p= link_to @player.club.name, @player.club 