.card.card-sp
    .card-block
    
        .card-title= "Choisis ton club"
        .card-subtitle= "Dis nous pour quel club tu joues pour qu’on puisse venir te filmer :)"


.card.card-sp
    .card-block

        .row.mb-0
            .col
                - @clubs.each do |club|
                    - next if club.teams.count.zero?
                    = link_to selects_team_path(id: club.id) do
                        .panel-gray
                            %div= "#{club.name}"
                            %small= "#{club.teams.count} équipes"
