.card.card-sp
    .card-block
    
        .card-title= "Choisis ton équipe"
        .card-subtitle= "On a presque tout ce qu’il nous faut pour venir te filmer !"


.card.card-sp
    .card-block

        .row.mb-0
            .col
                - @teams.each do |team|
                    = link_to selects_path(club_id: params[:id], team_id: team.id), method: :post do
                        .panel-gray
                            %div= "#{team.name} - #{team.category.name} - #{team.division.name} - #{team.level.name}"
                            %small= "#{team.players.count} joueurs"
