%nav.navbar.fixed-bottom.navbar-dark.bg-inverse
	.d-flex.justify-content-between
		= link_to fa_icon('futbol-o'), "#", class: 'navbar-brand'
		= link_to fa_icon('futbol-o'), "#", class: 'navbar-brand'

		= link_to fa_icon('futbol-o 2x'), "#", class: 'navbar-brand'

		= link_to fa_icon('futbol-o'), "#", class: 'navbar-brand'
		= link_to fa_icon('futbol-o'), "#", class: 'navbar-brand'