- if player

	%nav.navbar.navbar-s2.fixed-bottom
		.d-flex.justify-content-between
			= link_to fa_icon('user'), player, class: 'navbar-brand my-auto'
			= link_to fa_icon('calendar'), calendars_path, class: 'navbar-brand my-auto'

			= link_to fa_icon('trophy 2x'), League.find(1), class: 'navbar-brand my-auto'

			= link_to fa_icon('users'), player.club, class: 'navbar-brand my-auto'
			= link_to fa_icon('list-ol'), "#", class: 'navbar-brand my-auto'