<!DOCTYPE html>
<html>
  <head>
    <title>Ballin</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  </head>

  <body>
    <%= render 'navbar-top' %>

    <div class="jumbotron-img"></div>

    <div class="container">
        <div class="wrapper">
          <%= notice %>
          <%= alert %>

          <%= yield %>
        </div>
    </div>

    <%= render 'navbar-bottom' %>
  </body>
</html>
